## 1. Setup  
Import core libraries and configure display settings for cleaner output.

In [132]:
import pandas as pd
import numpy as np
import os

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

## 2. Load Raw Data  
Read key CSV files into pandas DataFrames. These datasets cover drivers, constructors, races, results, qualifying sessions, and driver profiles.

In [133]:
DATA_PATH = '../data/raw/'

# Load key datasets
drivers = pd.read_csv(os.path.join(DATA_PATH, 'drivers.csv'))
constructors = pd.read_csv(os.path.join(DATA_PATH, 'constructors.csv'))
races = pd.read_csv(os.path.join(DATA_PATH, 'races.csv'))
results = pd.read_csv(os.path.join(DATA_PATH, 'results.csv'))
qualifying = pd.read_csv(os.path.join(DATA_PATH, 'qualifying.csv'))
F1Drivers = pd.read_csv(os.path.join(DATA_PATH, 'F1Drivers_Dataset.csv'))

## 3. Initial Inspection  
Preview the first few rows of each dataset to understand structure and key fields.

In [134]:
# Display first few rows of each dataset for inspection
print("Drivers:")
display(drivers.head())

print("Constructors:")
display(constructors.head())

print("Races:")
display(races.head())

print("Results:")
display(results.head())

print("Qualifying:")
display(qualifying.head())

print("F1Drivers Dataset:")
display(F1Drivers.head())

Drivers:

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

Constructors:

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

Races:

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

Results:

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

Qualifying:

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

F1Drivers Dataset:

,Driver,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,Fastest_Laps,Points,Active,Championship Years,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active,Champion
0,Carlo Abate,Italy,"[1962, 1963]",0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,False,NaN,1960,0.0,0.000000,0.0,0.0,0.0,0.000000,2,False
1,George Abecassis,United Kingdom,"[1951, 1952]",0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,False,NaN,1950,0.0,1.000000,0.0,0.0,0.0,0.000000,2,False
2,Kenny Acheson,United Kingdom,"[1983, 1985]",0.0,10.0,3.0,0.0,0.0,0.0,0.0,0.0,False,NaN,1980,0.0,0.300000,0.0,0.0,0.0,0.000000,2,False
3,Andrea de Adamich,Italy,"[1968, 1970, 1971, 1972, 1973]",0.0,36.0,30.0,0.0,0.0,0.0,0.0,6.0,False,NaN,1970,0.0,0.833333,0.0,0.0,0.0,0.166667,5,False
4,Philippe Adams,Belgium,[1994],0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,False,NaN,1990,0.0,1.000000,0.0,0.0,0.0,0.000000,1,False

## 4. Data Cleaning  
This section performs basic cleaning steps to prepare the datasets for merging.  
Cleaning includes:
- handling missing values  
- fixing data types  
- removing duplicates  
- standardising naming conventions  
- light normalisation of key fields

In [135]:
def clean_column_names(df):
    df.columns = (
        df.columns
        .str.strip()
        .str.lower()
        .str.replace(' ', '_')
    )
    return df

drivers = clean_column_names(drivers)
constructors = clean_column_names(constructors)
races = clean_column_names(races)
results = clean_column_names(results)
qualifying = clean_column_names(qualifying)
F1Drivers = clean_column_names(F1Drivers)

### 4.1 Handle Missing Values  
We apply simple, safe strategies:
- Drop duplicate rows  
- Fill missing text fields with `"Unknown"`  
- Leave complex missing values for later modelling

In [136]:
# Drop duplicates
drivers.drop_duplicates(inplace=True)
constructors.drop_duplicates(inplace=True)
races.drop_duplicates(inplace=True)
results.drop_duplicates(inplace=True)
qualifying.drop_duplicates(inplace=True)
F1Drivers.drop_duplicates(inplace=True)

# Fill simple missing values
drivers.fillna({'nationality': 'Unknown'}, inplace=True)
constructors.fillna({'constructorref': 'unknown'}, inplace=True)

### 4.2 Fix Data Types  
Convert date fields to datetime and ensure IDs are integers.

In [137]:
# Convert dates
races['date'] = pd.to_datetime(races['date'], errors='coerce')

# Convert IDs to integers where possible
int_columns = ['driverid', 'constructorid', 'raceid']
for col in int_columns:
    for df in [drivers, constructors, races, results, qualifying]:
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int64')

### 4.3 Normalise Key Fields  
Standardise driver names and constructor names for consistency.

In [138]:
drivers['fullname'] = (
    drivers['forename'].str.strip() + ' ' + drivers['surname'].str.strip()
)

constructors['name'] = constructors['name'].str.strip().str.title()

## 5. Missing Value Check  
Assess each dataset for missing values to identify potential cleaning steps.

In [139]:
# Check for missing values

print("Missing values:")
for df_name, df in [('drivers', drivers), ('constructors', constructors), ('races', races), ('results', results), ('qualifying', qualifying), ('F1Drivers', F1Drivers)]:
    print(f"{df_name}: {df.isnull().sum().sum()} missing values")

Missing values:
drivers: 0 missing values
constructors: 0 missing values
races: 0 missing values
results: 0 missing values
qualifying: 68 missing values
F1Drivers: 834 missing values

## 6. Duplicate Check  
Check for duplicate rows in each dataset to ensure data integrity.

In [140]:
# Check for duplicates
print("Duplicate rows:")
for df_name, df in [('drivers', drivers), ('constructors', constructors), ('races', races), ('results', results), ('qualifying', qualifying), ('F1Drivers', F1Drivers)]:
    print(f"{df_name}: {df.duplicated().sum()} duplicates")

Duplicate rows:
drivers: 0 duplicates
constructors: 0 duplicates
races: 0 duplicates
results: 0 duplicates
qualifying: 0 duplicates
F1Drivers: 0 duplicates

## 7. Key Field Review  
Compare driver and constructor IDs across datasets to identify mismatches before merging.

In [141]:
# Check ID consistency across datasets
print("Unique driver IDs in results vs drivers:")
print(set(results['driverid']) - set(drivers['driverid']))

print("Unique constructor IDs in results vs constructors:")
print(set(results['constructorid']) - set(constructors['constructorid']))

Unique driver IDs in results vs drivers:
set()
Unique constructor IDs in results vs constructors:
set()

## 8. Merge Datasets  
Now that the raw data has been cleaned and validated, we merge the key datasets into a single analytical table.  
This unified dataset will be used for EDA and modelling.

### 8.1 Merge `drivers` with `F1Drivers_Dataset`
Use the `driver` column from F1Drivers as the full name field.

In [142]:
# Prepare name fields for merging
drivers['fullname'] = drivers['forename'] + ' ' + drivers['surname']
F1Drivers['fullname'] = F1Drivers['driver'].str.strip()

# Merge on fullname
drivers_merged = drivers.merge(
    F1Drivers.drop(columns=['driver']), 
    on='fullname', 
    how='left'
)

drivers_merged.head().style.hide(subset="seasons", axis=1)

### 8.2 Merge `results` with enriched driver data  
This adds driver attributes to each race result.

In [143]:
results_drivers = results.merge(
    drivers_merged,
    on='driverid',
    how='left'
)

results_drivers.head().style.hide(subset="seasons", axis=1)

### 8.3 Merge constructor information  
Adds constructor/team details to each race result.

In [144]:
results_drivers_constructors = results_drivers.merge(
    constructors,
    on='constructorid',
    how='left'
)

results_drivers_constructors.head().style.hide(subset="seasons", axis=1)

### 8.4 Merge race information  
Adds race metadata such as circuit, date, and round.

In [145]:
results_full = results_drivers_constructors.merge(
    races,
    on='raceid',
    how='left'
)

results_full.head().style.hide(subset="seasons", axis=1)

### 8.5 Merge qualifying results  
Adds qualifying position and times to the unified dataset.

In [146]:
results_full_main = results_full.merge(
    qualifying[['raceid', 'driverid', 'position', 'q1', 'q2', 'q3']],
    on=['raceid', 'driverid'],
    how='left'
)

results_full_main.head().style.hide(subset="seasons", axis=1)

### 8.6 Feature Engineering (Basic)  
We create two simple features:
- **driver_age** at the time of the race  
- **driver_experience** (number of races completed before this one)

In [147]:
# Convert driver DOB to datetime
results_full['dob'] = pd.to_datetime(results_full['dob'], errors='coerce')

# Driver age at race
results_full['driver_age'] = (
    (results_full['date'] - results_full['dob']).dt.days / 365.25
)

In [148]:
results_full = results_full.sort_values(['driverid', 'date'])

results_full['driver_experience'] = (
    results_full.groupby('driverid').cumcount()
)

### 8.7 Save Processed Dataset  
We export the unified dataset to `data/processed/` for use in EDA and modelling.

In [149]:
output_path = '../data/processed/merged_f1_dataset.csv'
results_full.to_csv(output_path, index=False)

print("Saved processed dataset to:", output_path)

Saved processed dataset to: ../data/processed/merged_f1_dataset.csv

## 9. Light Cleanup Pass (Final Polish)

With all datasets successfully merged, this final cleanup step prepares the data for exploratory analysis and modelling.

This pass focuses on:
- assigning clear, meaningful column names
- standardising race and qualifying position fields
- removing unused or redundant columns
- organising the dataset into logical groups
- exporting a clean, modellingready CSV

This ensures that downstream notebooks (EDA, modelling, dashboarding) work with a tidy, wellstructured dataset.

## 9.1 Rename Columns

The merged dataset originally contained ambiguous or duplicated column names inherited from multiple source tables.
This step standardises the naming so each field has a clear purpose.
Key improvements include:
- converting raw fields (positionOrder, grid) into intuitive names (race_position, qualifying_position)
- replacing generic names like name_x and name_y with descriptive labels (constructor_name, circuit_name)
- aligning driver and constructor metadata under consistent naming conventions
- ensuring race timing fields (time_x, time_y) are clearly distinguished

This renaming step makes the dataset far easier to interpret and eliminates the need to remember specific naming quirks

In [150]:
clean_df = results_full.copy()

# Rename columns for clarity
rename_map = {
    'positionorder': 'race_position',        # finishing position (numeric)
    'grid': 'qualifying_position',           # qualifying position (grid)
    'points': 'race_points',                 # from results table
    'name_x': 'constructor_name',
    'name_y': 'circuit_name',
    'nationality_x': 'driver_nationality',
    'nationality_y': 'constructor_nationality',
    'time_x': 'race_time',
    'time_y': 'race_start_time',
    'number_x': 'race_number',
    'number_y': 'driver_number'
}

clean_df.rename(columns=rename_map, inplace=True)

## 9.2 Drop Irrelevant Columns
These fields are not needed for EDA or modelling

In [151]:
cols_to_drop = [
    'url_x', 'url_y', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time',
    'fp3_date', 'fp3_time', 'quali_date', 'quali_time',
    'sprint_date', 'sprint_time'
]

clean_df.drop(columns=[c for c in cols_to_drop if c in clean_df.columns], inplace=True)

## 9.3 Reorder Columns
This groups the dataset into logical sections:
- race info
- driver info
- constructor info
- qualifying
- race results
- engineered features

In [152]:
ordered_columns = [
    # Race metadata
    'raceid', 'year', 'round', 'circuitid', 'circuit_name', 'date', 'race_start_time',

    # Driver metadata
    'driverid', 'driverref', 'code', 'forename', 'surname', 'fullname',
    'dob', 'driver_age', 'driver_nationality',

    # Enriched driver stats
    'seasons', 'championships', 'race_entries', 'race_starts',
    'pole_positions', 'race_wins', 'podiums', 'fastest_laps',
    'career_points', 'years_active',

    # Constructor metadata
    'constructorid', 'constructorref', 'constructor_name', 'constructor_nationality',

    # Qualifying
    'qualifying_position',

    # Race results
    'race_number', 'grid', 'race_position', 'race_points', 'laps',
    'race_time', 'milliseconds', 'fastestlap', 'fastestlaptime',
    'fastestlapspeed', 'statusid',

    # Engineered features
    'driver_experience'
]

# Keep only columns that exist (avoids errors)
ordered_columns = [c for c in ordered_columns if c in clean_df.columns]

clean_df = clean_df[ordered_columns]

In [153]:
#Quick check
clean_df = results_full.copy()
clean_df.rename(columns=rename_map, inplace=True)
clean_df.columns.tolist()

['resultid',
 'raceid',
 'driverid',
 'constructorid',
 'race_number',
 'qualifying_position',
 'position',
 'positiontext',
 'race_position',
 'points_x',
 'laps',
 'race_time',
 'milliseconds',
 'fastestlap',
 'rank',
 'fastestlaptime',
 'fastestlapspeed',
 'statusid',
 'driverref',
 'driver_number',
 'code',
 'forename',
 'surname',
 'dob',
 'driver_nationality',
 'url_x',
 'fullname',
 'constructor_nationality',
 'seasons',
 'championships',
 'race_entries',
 'race_starts',
 'pole_positions',
 'race_wins',
 'podiums',
 'fastest_laps',
 'points_y',
 'active',
 'championship_years',
 'decade',
 'pole_rate',
 'start_rate',
 'win_rate',
 'podium_rate',
 'fastlap_rate',
 'points_per_entry',
 'years_active',
 'champion',
 'constructorref',
 'constructor_name',
 'nationality',
 'url_y',
 'year',
 'round',
 'circuitid',
 'circuit_name',
 'date',
 'race_start_time',
 'url',
 'fp1_date',
 'fp1_time',
 'fp2_date',
 'fp2_time',
 'fp3_date',
 'fp3_time',
 'quali_date',
 'quali_time',
 'sprint_date',
 'sprint_time',
 'driver_age',
 'driver_experience']

## 9.4 Save Final Cleaned Dataset
This is the dataset used in Notebook02 (EDA).

In [154]:
output_path_clean = '../data/processed/f1_cleaned_dataset.csv'
clean_df.to_csv(output_path_clean, index=False)

print("Saved cleaned dataset to:", output_path_clean)

Saved cleaned dataset to: ../data/processed/f1_cleaned_dataset.csv